<div class="navbar-molani">
      <!-- Logo -->
  <%= link_to root_path, class: "navbar-molani-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
    <!-- Navigation on big screen-->
    <div class="navbar-categories hidden-xs hidden-sm">
      <%= link_to "Krawatten", category_items_path(:category => "Krawatte"), class: "navbar-molani-item navbar-molani-link" %>
      <%= link_to "Einsteckt체cher", category_items_path(:category => "Einstecktuch"), class: "navbar-molani-item navbar-molani-link" %>
      <%= link_to "Hosentr채ger", category_items_path(:category => "Hosentraeger"), class: "navbar-molani-item navbar-molani-link" %>
      <%= link_to "Socken", category_items_path(:category => "Socken"), class: "navbar-molani-item navbar-molani-link" %>
      <%= link_to "Schals", category_items_path(:category => "Schal"), class: "navbar-molani-item navbar-molani-link" %>
      <%= link_to "Fliegen", category_items_path(:category => "Fliege"), class: "navbar-molani-item navbar-molani-link" %>
    </div>
    <!-- Navigation on small screen, turning into dropdown-->
  <div class="navbar-molani hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle navbar-molani-item" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#" class="navbar-molani-item navbar-molani-link"> Profile</a></li>
          <li><a href="#" class="navbar-molani-item navbar-molani-link">Shopping Cart</a></li>
          <li><%= link_to "Krawatten", category_items_path(:category => "Krawatte"), class: "navbar-molani-item navbar-molani-link" %></li>
          <li><%= link_to "Einsteckt체cher", category_items_path(:category => "Einstecktuch"), class: "navbar-molani-item navbar-molani-link" %></li>
          <li><%= link_to "Hosentr채ger", category_items_path(:category => "Hosentraeger"), class: "navbar-molani-item navbar-molani-link" %></li>
          <li><%= link_to "Socken", category_items_path(:category => "Socken"), class: "navbar-molani-item navbar-molani-link" %></li>
          <li><%= link_to "Schals", category_items_path(:category => "Schal"), class: "navbar-molani-item navbar-molani-link" %></li>
          <li><%= link_to "Fliegen", category_items_path(:category => "Fliege"), class: "navbar-molani-item navbar-molani-link" %></li>
        </ul>
      </div>
  </div>

  <!-- Right Navigation with icons -->
  <div class="navbar-icons hidden-sm hidden-xs">
    <a href="#" class="fa fa-shopping-cart navbar-molani-item navbar-molani-link"></a>
    <% if user_signed_in? %>
        <!-- Signed in dropdown menu -->
        <div class="dropdown">
          <i class="fa fa-user dropdown-toggle navbar-molani-item navbar-molani-link" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <!-- Login link (when logged out) -->
        <div class="dropdown">
          <i class="fa fa-user-o dropdown-toggle navbar-molani-item navbar-molani-link" id="navbar-wagon-menu" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
          </ul>
        </div>
    <% end %>
  </div>
</div>

