<div class="navbar-molani">

  <!-- Navigation on big screen-->
  <div class="hidden-xs hidden-sm">
    <%= link_to "Krawatten", category_items_path(:category => "Krawatte"), class: "navbar-molani-item navbar-molani-link" %>
    <%= link_to "Einsteckt체cher", category_items_path(:category => "Einstecktuch"), class: "navbar-molani-item navbar-molani-link" %>
    <%= link_to "Hosentr채ger", category_items_path(:category => "Hosentraeger"), class: "navbar-molani-item navbar-molani-link" %>
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-molani-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
    <%= link_to "Socken", category_items_path(:category => "Socken"), class: "navbar-molani-item navbar-molani-link" %>
    <%= link_to "Schals", category_items_path(:category => "Schal"), class: "navbar-molani-item navbar-molani-link" %>
    <%= link_to "Fliegen", category_items_path(:category => "Fliege"), class: "navbar-molani-item navbar-molani-link" %>
  </div>

  <div class="navbar-molani-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Krawatten</a></li>
        <li><a href="#">Einsteckt체cher</a></li>
        <li><a href="#">Hosentr채ger</a></li>
        <li><a href="#">Socken</a></li>
        <li><a href="#">Schals</a></li>
        <li><a href="#">Fliegen</a></li>
      </ul>
    </div>
  </div>
</div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-molani-item">
        <div class="dropdown">
          <%= image_tag "", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->


